<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        lang="en"
>

<head>
    <link rel="stylesheet" type="text/css" href="/css/general/generalDetail.css">

</head>


<div layout:fragment="content">
    <div class="container">
        <div class="meeting_text">
            <!-- 일반 게시판 텍스트 -->
            <div class="meet_text_box">
                <p class="text1">일반 게시판</p>
            </div>
            <!-- 목록 돌아가기 버튼 -->
            <div class="meet_main_btn_box_1">
                <button class="meet_main_btn" onclick="window.location.href='/general/main'">전체 글 목록</button>
            </div>
        </div>
        <div class="line">
            <div class="horizontal-line3"></div>
        </div>
        <!-- 카테고리 , 제목 -->
        <div class="container_2">
            <div class="category_text">
                <p th:text="'[' + ${generalInfo.general_category == 1 ? '일반' : (generalInfo.general_category == 2 ? '유머' : (generalInfo.general_category == 3 ? '정보' : ''))} + ']'"></p>
            </div>
            <div class="title_text">
                <p th:text="${generalInfo.general_title}"></p>
            </div>
        </div>

        <!-- 닉네임 , 작성일 , 조회수-->
        <div class="container_3">
            <div class="container_3_1">
                <p th:text="${generalInfo.general_nick_name}" class="nick_name"></p>
                <p>|</p>
                <p th:text="${#temporals.format(generalInfo.general_write_date, 'yyyy-MM-dd HH:mm:ss')}"></p>
            </div>

            <div class="container_3_2">
                <p>조회</p>
                <p th:text="${generalInfo.general_views}"></p>
            </div>
        </div>

        <div class="line">
            <div class="horizontal-line1"></div>
        </div>


        <!-- 스마트 에디터 내용 -->
        <div th:utext="${generalInfo.general_content}" class="editor_content">
        </div>


        <div class="apply_content">
            <div class="comment_text_box">
                <p>댓글</p>
            </div>

            <!-- 로그인 중인 유저가 작성자일 경우 수정/삭제 버튼 -->
            <div class="Writer_btn_box" th:if="${Writer == 1}">

                <form id="modifyForm" th:action="@{/general/modify/{generalNum}(generalNum=${generalInfo.generalNum})}" method="get">
                    <button class="edit_btn" onclick="confirmModify()">수정</button>
                </form>

                <form id="deleteForm" th:action="@{/general/delete/{generalNum}(generalNum=${generalInfo.generalNum})}" method="post">
                    <button class="delete_btn" onclick="confirmDelete()">삭제</button>
                </form>
            </div>

            <div class="Writer_btn_box" th:if="${Writer == 2}"></div>

        </div>
        <div class="line">
            <div class="horizontal-line3"></div>
        </div>

        <!-- 댓글 목록 -->
        <div class="comment_container">
            <div class="comment_box" th:each="info : ${commentList}">
                <div class="comment_div">
                    <!-- 닉네임 -->
                    <div class="comment_nickName">
                        <p th:text="${info.nick_name}"></p>
                    </div>

                    <!-- 내용 -->
                    <div class="comment_content">
                        <p th:text="${info.general_comment_content}"></p>
                    </div>

                    <!-- 작성일 -->
                    <div class="comment_writeDate">
                        <p th:text="${#temporals.format(info.general_comment_date, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    </div>
                </div>

                <div class="line">
                    <div class="horizontal-line1"></div>
                </div>
            </div>
        </div>

        <!-- 댓글 페이징 처리 -->
        <div class="paging_box" th:if="${commentList.totalElements != 0}">
            <ul class="pagination" th:with="start=${T(java.lang.Math).floor(commentList.number/10)*10 + 1},
        last=(${start + 9 < commentList.totalPages ? start + 9 : commentList.totalPages}),
        totalPages=${commentList.totalPages}">
                <li><a th:href="@{'/general/detail/' + ${generalInfo.generalNum} + '?page=1'}"><<</a></li>
                <li th:class="${commentList.first} ? 'disabled'">
                    <a th:href="${commentList.first} ? '#' : '/general/detail/' + ${generalInfo.generalNum} + '?page=' + ${commentList.number}"><</a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == commentList.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{'/general/detail/' + ${generalInfo.generalNum} + '?page=' + ${page}}"></a>
                </li>

                <li th:class="${commentList.last} ? 'disabled'">
                    <a th:href="${commentList.last} ? '#' : '/general/detail/' + ${generalInfo.generalNum} + '?page=' + (${commentList.number + 2 > totalPages ? totalPages : commentList.number + 2})">></a>
                </li>
                <li><a th:href="@{'/general/detail/' + ${generalInfo.generalNum} + '?page=' + ${commentList.totalPages}}">>></a></li>
            </ul>
        </div>



        <div class="line">
            <div class="horizontal-line3"></div>
        </div>

        <div class="comment_and_btn_box">
            <!-- 댓글 작성 -->
            <div class="CommentWriter">
                <form th:action="@{/general/comment/save/{generalNum}(generalNum=${generalInfo.generalNum})}" method="post">
                    <div class="comment_inbox">
                        <strong class="blind">댓글을 입력하세요</strong>
                        <div class="comment_inbox_box">
                            <!-- 작성자 닉네임 -->
                            <p th:text="${nickName}" class="comment_inbox_name"></p>
                            <div class="comment_inbox_count">
                                <p class="current_char_count">0</p>
                                <p>/</p>
                                <p>100</p>
                            </div>

                        </div>
                        <textarea spellcheck="false" placeholder="댓글을 남겨보세요" rows="1"
                                  class="comment_inbox_text" name="general_comment_content"></textarea>
                    </div>

                    <div class="comment_attach">
                        <div class="register_box">
                            <button type="submit" class="btn_register">등록</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 목록 돌아가기 버튼 -->
            <div class="meet_main_btn_box_2">
                <button class="meet_main_btn" onclick="window.location.href='/general/main'">전체 글 목록</button>
            </div>
        </div>
    </div>



    <script>
        var msg = "[[${msg}]]";
        if (msg) {
            alert(msg);
        }
    </script>

    <script src="/js/general/generalDetail.js"></script>
</div>
</html>
