<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        lang="en"
>
<head>
    <link rel="stylesheet" type="text/css" href="/css/general/generalMain.css">
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="meeting_text">
            <p class="text1">일반 게시판</p>
        </div>

        <form id="sortingForm" method="get">
            <div class="middle_container">
                <div class="category_box">
                    <select id="category" name="category" onchange="submitForm()">
                        <option value="0" th:selected="${category == 0}">게시글 유형</option>
                        <option value="1" th:selected="${category == 1}">일반</option>
                        <option value="2" th:selected="${category == 2}">유머</option>
                        <option value="3" th:selected="${category == 3}">정보</option>
                    </select>
                </div>

                <div class="writing_box">
                    <a href="/general/write" class="writing_btn">글쓰기</a>
                </div>
            </div>
        </form>



        <div class="inner_container">
            <!-- 상단 -->
            <div class="title_box">
                <div class="title_imgCheck">

                </div>

                <div class="title_1">
                    <p>번호</p>
                </div>

                <div class="title_2">
                    <p>게시글 유형</p>
                </div>

                <div class="title_3">
                    <p>제목</p>
                </div>

                <div class="title_4">
                    <p>글쓴이</p>
                </div>

                <div class="title_5">
                    <p>작성일</p>
                </div>

                <div class="title_6">
                    <p>조회</p>
                </div>

            </div>

            <div class="line">
                <div class="horizontal-line3"></div>
            </div>

            <div class="meetList_container">
                <!-- 내용 -->
                <div class="meetList" th:each="info : ${boardList}">
                    <div class="content_box">
                        <!-- 이미지 유무 아이콘 -->
                        <div class="content_imgCheck" th:with="imgIndex=${imageInfo[__${infoStat.index}__]}">
                            <img th:src="@{${(imgIndex == 1) ? '/images/imageCheckIcon1.png' : '/images/imageCheckIcon2.png'}}"
                                 th:alt="${(imgIndex == 1) ? 'Image Icon 1' : 'Image Icon 2'}"
                                 style="width: 30px; height: 30px;">
                        </div>

                        <!-- 게시글 번호 -->
                        <div class="content_1">
                            <p th:text="${info.generalNum}"></p>
                        </div>

                        <!-- 게시글 유형 -->
                        <div class="content_2">
                            <p th:text="${info.general_category == 1 ? '일반' : (info.general_category == 2 ? '유머' : (info.general_category == 3 ? '정보' : ''))}"></p>
                        </div>



                        <!-- 제목 -->
                        <div class="content_3">
                            <a th:href="@{/general/detail/{generalNum}(generalNum=${info.generalNum})}" th:text=="${info.general_title}"></a>
                        </div>

                        <!-- 글쓴이 -->
                        <div class="content_4">
                            <p th:text="${info.general_nick_name}"></p>
                        </div>

                        <!-- 작성일 -->
                        <div class="content_5">
                            <p th:text="${#temporals.format(info.general_write_date, 'yyyy-MM-dd HH:mm:ss')}"></p>
                        </div>

                        <!-- 조회 -->
                        <div class="content_6">
                            <p th:text="${info.general_views}"></p>
                        </div>

                    </div>
                    <div class="horizontal-line1"></div>
                </div>
            </div>


        </div>


        <div class="margin_bottom"></div>

        <!-- 페이징 처리-->
        <div class="paging_box" th:if="${boardList.totalElements != 0}">
            <ul class="pagination" th:with="start=${T(java.lang.Math).floor(boardList.number/10)*10 + 1},
                        last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
                <li><a th:href="@{/general/sorting(category=${category}, page=1)}"><<</a></li>

                <li th:class="${boardList.first} ? 'disabled'">
                    <a th:href="${boardList.first} ? '#' :@{/general/sorting(category=${category},page=${boardList.number})}"><</a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{/general/sorting(category=${category}, page=${page})}"></a>
                </li>

                <li th:class="${boardList.last} ? 'disabled'">
                    <a th:href="${boardList.last} ? '#' : @{/general/sorting(category=${category}, page=${boardList.number + 2})}">></a>
                </li>
                <li><a th:href="@{/general/sorting(category=${category}, page=${boardList.totalPages})}">>></a></li>
            </ul>
        </div>


        <div class="search_container">
            <form action="/general/main/search" method="GET">
                <select name="search_option">
                    <option value="1">제목만</option>
                    <option value="2">제목+내용</option>
                    <option value="3">글쓴이</option>
                </select>
                <input type="text" placeholder="검색어를 입력하세요" name="search">
                <button type="submit">검색</button>
            </form>
        </div>

        <div class="margin_bottom"></div>


    </div>

    <script>
        var msg = "[[${msg}]]";
        if (msg) {
            alert(msg);
        }
    </script>
    <script src="/js/general/generalMain.js"></script>
</div>

</html>
